body {
    background-color: darkslategray;
    margin: 0;
    padding: 3rem;
}

.stage {
    animation: animateBg 5s infinite linear;
    background-color: #fff;
    background-image: linear-gradient(90deg, #da3287, #ffde5e, #da3287, #ffde5e);
    background-size: 300% 100%;
    box-shadow: 0 3px 14px #000;
    border-radius: 1rem;
    width: 70rem;
    height: 40rem;
    margin: auto;
}

@keyframes animateBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}