body {
    background: darkslategray;
    color: white;
    font-size: 2rem;
    text-align: center;
    s
}

#atm {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.button {
    font-size: 1.7rem;
    color: white;
    background-color: brown;
    font-family: sans-serif;
    padding: 6px;
    margin: 3rem;
}

.button:hover {
    color: red;
    background-color: white;
}

#balance {
    color: white;
    font-size: 4rem;
}

#dis {
    color: rgb(13, 4, 34);
    font-size: 4rem;
}

#txt {
    font-size: 1.5rem;
}